<% meta title: "About - RushDaddy", description: "RushDaddy surfaces the best creative and innovative products, every day." %>

<div class="banner" style="background: linear-gradient(135deg, rgba(252,252,104,1) 0%, rgba(252,252,104,1) 25%, rgba(230,86,67,1) 100%);">
  <h1>Hello rushers !</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3>What is RushDaddy ?</h3>
        <p> RushDaddy surfaces the best new creative and innovative products in fields like lifestyle, tech, fashion, home, food and art.</p>
      <h3>How it works ?</h3>
        <p>Every day, new products are posted on the website and users can vote for the best one. </p>
      <h3>Any questions ?</h3>
        <p>You can contact us <a href="https://www.facebook.com/RushDaddy-1340834209279528/?ref=bookmarks">here </a></p>
    </div>
  </div>
</div>
