<% meta title: "RushDaddy - Cool products, every day !", description: "RushDaddy surfaces the best creative and innovative products, every day." %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "bg.jpg" %>');">
  <div class="banner-content">
    <h1>Wagon Hunt</h1>
    <p>Find best tech products</p>
    <p>
    A lot of new products on <%= @today %>
  </p>
    <p><%= link_to "All Products", products_path, class: "btn btn-primary" %></p>
  </div>
</div>


